.logo{
    width: auto;
    height: 60px;
}
.form{
    width: 30%;
}
.navbar{
    padding: 15px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.nav-link{
    color: white ;
    margin: 15px;
}
.nav-link:hover{
    background-color: #F9A51A !important;
    padding: 8px;
    border-radius: 4px;
}
@media screen and (max-width:660px) {
    .form{
        width: 25%;
    }
    .navbar{
        padding: 5px;
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        background-color:rgb(150, 224, 253);
        backdrop-filter: blur(2px);
    }
    .nav-link:hover{
        background-color: rgb(36, 179, 184) !important;
        padding: 8px;
        border-radius: 0;
    }  
}